{% extends "base.html"%}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <center>

      <div class="alert alert-primary" role="alert">
        <a target="_blank" href="https://www.linkedin.com/in/imvickykumar999/recent-activity/all/">
          <h1> More Projects </h1>
        </a>
      </div>

      <br>
      <iframe 
        src="https://www.youtube.com/embed/?listType=videoseries&list=PLyeWzbpbicN1EJOT6SGpW-tImwg5exOEp" 
        width="720" 
        height="405" 
        frameborder="0" 
        allowfullscreen>

    </center>
  </div>
</div>

{% endblock %}
