{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <title>Vicks News</title>
  </head>

  <body>

    <div class="jumbotron">
      <div class="container">

        <div class="alert alert-warning" role="alert">
          <center>
            <!-- <a href="https://inshorts.com/en/read"> -->
            <a href="https://github.com/imvickykumar999/vicks-news/blob/main/templates/news.html">
              <h1>Webscraping Inshorts News</h1>
            </a>
          </center>

        </div>
      </div>
    </div>


    <div class="jumbotron jumbotron-fluid">
      <div class="container">

        <div class="row row-cols-1 row-cols-md-2">

<!-- 1st card -->

          {%for i in range(0, len)%}

              <div class="col mb-4">
                <div class="card">
                  <a href={{ia[i]}}>
                    <!-- <img src="../static/news/_0.jpg" class="card-img-top" alt="0"> -->
                    <img src={{ia[i]}} class="card-img-top">
                  </a>
                  <div class="card-body">
                    <center>
                      <h5 class="card-title">{{ha[i]}}</h5>
                      <br>
                      <p class="card-text">{{ba[i]}}</p>
                      <br>
                      <a href="{{la[i]}}" class="btn btn-primary">Read More</a>
                    </center>
                  </div>
                </div>
              </div>

          {% endfor %}

        </div>
        <!-- class="row row-cols-1 row-cols-md-2 -->

      </div>
    </div>
  </body>
</html>

{% endblock %}
